In [ ]:
#!pip install census

In [1]:
#import dependencies
import requests
#from census import Census
import json
from config import census_api_key, sql_pass_key
import pandas as pd
from IPython.display import clear_output
from sqlalchemy import create_engine

# Dataset 1: API call from census.gov

Dataset name: ACS 5-Year Data Profiles

The American Community Survey (ACS) is an ongoing survey that provides data every year -- giving communities the current information they need to plan investments and services. The ACS covers a broad range of topics about social, economic, demographic, and housing characteristics of the U.S. population. The data profiles include the following geographies: nation, all states (including DC and Puerto Rico), all metropolitan areas, all congressional districts, all counties, all places and all tracts. Data profiles contain broad social, economic, housing, and demographic information. The data are presented as both counts and percentages. There are over 2,400 variables in this dataset.

In [2]:
#Dataset:
#https://api.census.gov/data.html
#American Community Survey (ACS) 5-Year Data Profiles year 2018 

base_url="https://api.census.gov/data"
year="2018"
#api.census.gov/data.html
dataset_name="acs/acs5/profile"
#Selecting variable:
# Estimate of INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) of total households for median household income (dollars)
variable="DP03_0063E"
geography="for=state:*"
#API key

In [3]:
#define URL for querying census data
url=f"{base_url}/{year}/{dataset_name}?get={variable}&{geography}&key={census_api_key}"
url

'https://api.census.gov/data/2018/acs/acs5/profile?get=DP03_0063E&for=state:*&key=28662b9fdbaa75d5301e6ddfae3695a2b97d5508'

In [4]:
#get response from census and store it
response = requests.get(url)
response.json()

[['DP03_0063E', 'state'],
 ['90600', '27'],
 ['60640', '28'],
 ['73145', '29'],
 ['70959', '30'],
 ['77278', '31'],
 ['77319', '32'],
 ['95876', '33'],
 ['110140', '34'],
 ['66565', '35'],
 ['97424', '36'],
 ['73753', '37'],
 ['84043', '38'],
 ['74109', '39'],
 ['70262', '40'],
 ['80040', '41'],
 ['81549', '42'],
 ['85527', '44'],
 ['70093', '45'],
 ['73768', '46'],
 ['71458', '47'],
 ['84221', '48'],
 ['87053', '49'],
 ['78472', '50'],
 ['98000', '51'],
 ['61225', '54'],
 ['93847', '53'],
 ['77687', '55'],
 ['79257', '56'],
 ['32190', '72'],
 ['67243', '01'],
 ['96499', '02'],
 ['77221', '04'],
 ['64272', '05'],
 ['101493', '06'],
 ['92520', '08'],
 ['109693', '09'],
 ['86962', '10'],
 ['121698', '11'],
 ['76652', '12'],
 ['78574', '13'],
 ['70620', '16'],
 ['99765', '15'],
 ['88857', '17'],
 ['71912', '18'],
 ['75951', '19'],
 ['77509', '20'],
 ['67110', '21'],
 ['68823', '22'],
 ['73210', '23'],
 ['107482', '24'],
 ['106627', '25'],
 ['75352', '26']]

In [14]:
#store response into dataframe
census_result_df=pd.DataFrame(response.json(), columns=response.json()[0])

#remove duplicate header row
census_result_df=census_result_df.drop(axis=0,index=0)

#rename columns 
census_result_df=census_result_df.rename(columns={"DP03_0063E":"income_usd","state":"state_fips"})

#set index to state_fips and sort 
census_result_df=census_result_df.set_index("state_fips").sort_values(by="state_fips",ascending=True)

census_result_df

           income_usd
state_fips
01              67243
02              96499
04              77221
05              64272
06             101493
08              92520
09             109693
10              86962
11             121698
12              76652
13              78574
15              99765
16              70620
17              88857
18              71912
19              75951
20              77509
21              67110
22              68823
23              73210
24             107482
25             106627
26              75352
27              90600
28              60640
29              73145
30              70959
31              77278
32              77319
33              95876
34             110140
35              66565
36              97424
37              73753
38              84043
39              74109
40              70262
41              80040
42              81549
44              85527
45              70093
46              73768
47              71458
48              84221
49              87053
50              78472
51              98000
53              93847
54              61225
55              77687
56              79257
72              32190

# Dataset 2: Fast Food Restaurants csv file from data.world.com

In [7]:
#https://data.world/datafiniti/fast-food-restaurants-across-america/workspace/file?filename=Datafiniti_Fast_Food_Restaurants.csv

#This dataset is a list of 10,000 fast food restaurants from Datafiniti's Business
# Database updated between December 2018 and May 2019. 
# Each business listing includes a variation of the phrase Fast Food
# within the Category field.

restaurants_df=pd.read_csv("1.Extract\Datafiniti_Fast_Food_Restaurants.csv")

In [ ]:
#adding new columns
restaurants_df["county_fips"] = ""
restaurants_df["county_name"] = ""
restaurants_df["state_fips"] = ""
restaurants_df["state_code"] = ""
restaurants_df["state_name"] = ""

restaurants_df.head()

In [ ]:
#iterate through rows (50 min load)
max_status=len(restaurants_df)
for index,row in restaurants_df.iterrows():
    latitude=row[8]
    longitude=row[9]
    #define URL for https://geo.fcc.gov/api/census/#!/area/get_area
    loc_url=f"https://geo.fcc.gov/api/census/area?lat={latitude}&lon={longitude}&format=json"
    response = requests.get(loc_url)
    #store api response into dataframe
    restaurants_df.loc[index,"county_fips"] = response.json()['results'][0]['county_fips']
    restaurants_df.loc[index,"county_name"] = response.json()['results'][0]['county_name']
    restaurants_df.loc[index,"state_fips"] = response.json()['results'][0]['state_fips']
    restaurants_df.loc[index,"state_code"] = response.json()['results'][0]['state_code']
    restaurants_df.loc[index,"state_name"] = response.json()['results'][0]['state_name']
    #display progress
    clear_output(wait=True)
    print(f"progress = {round(index/max_status*100,1)} [%]")
restaurants_df.head(10)

# Transform Stage

In [21]:
#Only if you decide to skip previous step
restaurants_df=pd.read_csv("2.Transform/Fast_Food_Restaurants(with_fips).csv")
restaurants_df.head()

,Unnamed: 0,id,dateAdded,dateUpdated,address,categories,city,country,keys,latitude,...,name,postalCode,province,sourceURLs,websites,county_fips,county_name,state_fips,state_code,state_name
0,0,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,...,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...,22057,Lafourche,22,LA,Louisiana
1,1,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,Fast Food Restaurants,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,...,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...,22057,Lafourche,22,LA,Louisiana
2,2,AVwcopQoByjofQCxgfVa,2016-03-29T05:06:36Z,2018-06-26T02:59:52Z,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,US,us/tn/pigeonforge/206wearsvalleyrd/-864103396,35.803788,...,Taco Bell,37863,TN,https://www.yellowpages.com/pigeon-forge-tn/mi...,"http://www.tacobell.com,https://locations.taco...",47155,Sevier,47,TN,Tennessee
3,3,AVweXN5RByjofQCxxilK,2017-01-03T07:46:11Z,2018-06-26T02:59:51Z,3652 Parkway,Fast Food,Pigeon Forge,US,us/tn/pigeonforge/3652parkway/93075755,35.782339,...,Arby's,37863,TN,http://www.yellowbook.com/profile/arbys_163389...,"http://www.arbys.com,https://locations.arbys.c...",47155,Sevier,47,TN,Tennessee
4,4,AWQ6MUvo3-Khe5l_j3SG,2018-06-26T02:59:43Z,2018-06-26T02:59:43Z,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,US,us/ga/morrow/2118mtzionparkway/1305117222,33.562738,...,Steak 'n Shake,30260,GA,https://foursquare.com/v/steak-n-shake/4bcf77a...,http://www.steaknshake.com/locations/23851-ste...,13063,Clayton,13,GA,Georgia

In [22]:
#Selecting required data
restaurants_df=restaurants_df[["categories","name","city","state_fips","state_code","state_name"]]

In [24]:
#Renaming columns
restaurants_df=restaurants_df.rename(columns={"name":"restaurant"})
#Setting index and ordering by state_fips
#restaurants_df.set_index("state_fips").sort_values(by="state_fips",ascending=True)
restaurants_df

,categories,restaurant,city,state_fips,state_code,state_name
0,American Restaurant and Fast Food Restaurant,SONIC Drive In,Thibodaux,22,LA,Louisiana
1,Fast Food Restaurants,SONIC Drive In,Thibodaux,22,LA,Louisiana
2,Fast Food Restaurant,Taco Bell,Pigeon Forge,47,TN,Tennessee
3,Fast Food,Arby's,Pigeon Forge,47,TN,Tennessee
4,Fast Food Restaurant,Steak 'n Shake,Morrow,13,GA,Georgia
...,...,...,...,...,...,...
9995,Fast Food Restaurants,Pizza Hut,Winston-Salem,37,NC,North Carolina
9996,Fast Food Restaurants,Pizza Hut,Winston-Salem,37,NC,North Carolina
9997,Fast Food Restaurants,Pizza Hut,Kernersville,37,NC,North Carolina
9998,Fast Food Restaurants,Pizza Hut,Wilson,37,NC,North Carolina
9999,Fast Food Restaurants,Pizza Hut,Elizabethtown,37,NC,North Carolina

# Load Stage

In [11]:
#setting connection to sql server
engine = create_engine(f'postgresql://postgres:{sql_pass_key}@localhost:5432/ETL_DB')

In [12]:
#check tables in database
engine.table_names()

['tbl_census', 'tbl_restaurants']

In [16]:
#Load first dataset from pandas to sql
census_result_df.to_sql(name='tbl_census', con=engine, if_exists='append', index=True)

In [26]:
#Load second dataset from pandas to sql
restaurants_df.to_sql(name='tbl_restaurants', con=engine, if_exists='append', index=False)

In [27]:
#Confirm that the census data is in DB
pd.read_sql_query('select * from tbl_census', con=engine).head()

   state_fips  income_usd
0           1       67243
1           2       96499
2           4       77221
3           5       64272
4           6      101493

In [28]:
#Confirm that the restaurants data is in DB
pd.read_sql_query('select * from tbl_restaurants', con=engine).head()

,id,state_fips,categories,restaurant,city,state_code,state_name
0,1,22,American Restaurant and Fast Food Restaurant,SONIC Drive In,Thibodaux,LA,Louisiana
1,2,22,Fast Food Restaurants,SONIC Drive In,Thibodaux,LA,Louisiana
2,3,47,Fast Food Restaurant,Taco Bell,Pigeon Forge,TN,Tennessee
3,4,47,Fast Food,Arby's,Pigeon Forge,TN,Tennessee
4,5,13,Fast Food Restaurant,Steak 'n Shake,Morrow,GA,Georgia